*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pagina{
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 45vh;

  margin: 0 auto;
  margin-top: 5px;

  border-bottom: 1px solid #455a64;
}

#topo{
  display: flex;
  flex-direction: row;

  background: #1565c0;
  margin-bottom: 1px solid #b0bec5;
  height: 50px;
}

#topo div{
  width: 100px;
  border: 1px solid #b0bec5;
}

#topo-central{
  display: flex;
  background: white;
  flex: 1;

  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: #2962ff;
}

#sites{
  background: #e8eaf6;
  margin-bottom: 1px solid #b0bec5;
  height: 25px;
}

#manchete{
  flex: 1;
  background: #42a5f5;
  margin-bottom: 1px solid #b0bec5;
}