* {
  margin: 0;
  padding: 0;
}

body {
  background: #bbdefb;
}

#lista{
  display: flex;
  
  flex-direction: row;
  
  justify-content: center;
  align-items: flex-end;

  flex-wrap: wrap;
  align-content: space-between;

  border: 1px solid #0d47a1;
  height: 100vh;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
  font-size: 2rem;
  background-color: #1976d2;
  border: 1px solid #0d47a1;
  height: 60px;
  width: 140px;
  border-radius: 10%;

  /* flex: 1; */
}

#item-3 {
  background-color: #ec407a;
  order: 0;
  /* flex: 4; */
  /* align-self: center; */
}